/* App CSS */

/* Hide scrollbar for Admin Dashboard */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Ensure NO scrolling anywhere in admin pages */
body, html {
  overflow: hidden !important;
  height: 100vh !important;
}
